<% @blog.each do |blog| %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <p><%= blog.content%></p>
      <br>
      <div class="row">
        <div class="col-md-2"><%= link_to "show", blog_path(blog.id) %> </div>
        <div class="col-md-2"><%= link_to "destroy",blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?'} %></div>
        <div class="col-md-2"><%= link_to "edit", edit_blog_path(blog.id),data: { confirm: 'Are you sure?'} %></div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= link_to "new", new_blog_path %>
