<div class="container">
<% @blogs.each do |blog| %>
<table class="table">
  <tbody>
    <tr>
      <td><%= blog.user.name%></td>
    </tr>
    <tr>
      <td><%= image_tag blog.image.url%></td>
    </tr>
    <tr>
      <td><%= blog.content%></td>
    </tr>
  </tbody>
</table>
<table class="table">
  <tbody>
    <tr >
      <div class="container">
        <div class="row">
          <span class="badge badge-pill badge-dark"><%= link_to "show", blog_path(blog.id) %></span>
          <span class="badge badge-pill badge-warning"><%= link_to "destroy",blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?'} %></span>
          <span class="badge badge-pill badge-info"><%= link_to "edit", edit_blog_path(blog.id),data: { confirm: 'Are you sure?'} %></span>
        </div>
      </div>
    </tr>
  </tbody>
</table>
<% end %>
</div>
