<div class="container">
<% @blogs.each do |blog| %>

<div class="">
  <div class="">
    <p><%= blog.user.name%></p>
    <p><%= image_tag blog.image.url%></p>
    <p><%= blog.content%></p>
    <div class="">
      <div class=""><%= link_to "show", blog_path(blog.id) %> </div>
      <div class=""><%= link_to "destroy",blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?'} %></div>
      <div class=""><%= link_to "edit", edit_blog_path(blog.id),data: { confirm: 'Are you sure?'} %></div>
    </div>
  </div>
</div>
<% end %>
</div>
