<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <% if logged_in? %>
      <ul>
          <li clase="left"><%= link_to "Profile", user_path(current_user.id) %></li>
          <li clase="left"><%= link_to "Logout", session_path(current_user.id), method: :delete %></td>
          <li clase="right"><%= link_to "Home", blogs_path %></li>
          <li clase="right"><%= link_to "new", new_blog_path %></li>
      </ul>
          <% else %>
        <ul>
          <li clase="left"><%= link_to "Sign up", new_user_path%></li>
          <li clase="left"><%= link_to "Login", new_session_path%></li>
          <li clase="right"><%= link_to "Home", blogs_path %></li>
          <li clase="right"><%= link_to "new", new_blog_path %></li>
        </ul>
    <% end%>
    </header>
    <div class="">
      <% flash.each do |key, value|%>
        <%= content_tag(:div,value,class:"alert alert-#{key}")%>
      <% end%>
    </div>
    <%= yield %>

  <footer>
   <p>FacebookClone</p>
   <p>© 2020 DIVE INTO CODE.</p>
 </footer>
  </body>
</html>
